**
!Dockerfile
!laravel/
!laravel/**
laravel/.env*
laravel/auth.json
laravel/vendor
laravel/node_modules
laravel/tests
laravel/public/build
laravel/public/hot
laravel/public/storage
laravel/storage/**
laravel/bootstrap/cache/*.php
laravel/database/*.sqlite*
laravel/frankenphp
laravel/*.log
laravel/*.sql
laravel/*.dump
