/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/css/filament
/public/fonts-manifest.dev.json
/public/fonts/filament
/public/hot
/public/js/filament
/public/storage
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/storage/*.key
/storage/pail
/vendor

.DS_Store
.deploy.lock
.env
.env.backup
.env.production
.env.tmp.*
.phpactor.json
.phpunit.result.cache
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
compose.images.yml
compose.images.yml.tmp.*
frankenphp
frankenphp-worker.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
